.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-box {
    background: white;
    width: 350px;
    padding: 25px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    animation: fadeIn 0.3s ease;
}

.title {
    font-size: 22px;
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 20px;
}

.subtitle {
    font-size: 14px;
    color: #444;
    margin-bottom: 15px;
}

.popup-img {
    width: 130px;
    margin-bottom: 15px;
}

.email-input {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    outline: none;
    margin-bottom: 20px;
}

.btn-group {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.send-btn {
    background: #2b8a3e;
    color: white;
    padding: 10px 25px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.cancel-btn {
    background: #d9534f;
    color: white;
    padding: 10px 25px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

@keyframes fadeIn {
    from {
        transform: scale(0.9);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}