.featuredSection {
    text-align: center;
    padding: 40px 20px;
}

.featuredTitle {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 5px;
    color: #0e5c35;
}

.featuredSubtitle {
    color: #555;
    margin-bottom: 40px;
}

.projectWrapper {
    display: flex;
    justify-content: center;
    gap: 35px;
    flex-wrap: wrap;
}

.projectCard {
    width: 300px;
    background: white;
    border-radius: 12px;
    box-shadow: 0 0 10px #ddd;
    overflow: hidden;
    border: 2px solid #d1c7f3;
  
    display: flex;
    flex-direction: column;
}

.projectImage {
    width: 100%;
    height: 180px;
    background: #e8e8e8;
    border-bottom: 1px solid #ddd;
}

.projectInfo {
    padding: 15px 20px;
}

.tagBox {
    display: flex;
    gap: 8px;
    margin-bottom: 10px;
}

.tag {
    background: #efefef;
    padding: 4px 10px;
    border-radius: 20px;
    font-size: 12px;
}

.price {
    background: #f3e5ff;
}

.projectDesc {
    font-size: 14px;
    color: #444;
    text-align: left;
    line-height: 1.4;
    margin-bottom: 15px;
}

.projectButtons {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.cartBtn {
    flex: 1;
    padding: 8px 0;
    background: #0e5c35;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.viewAllSection {
    margin-top: 35px;
}

.viewAllBtn {
    padding: 12px 20px;
    background: #0e5c35;
    color: #fff;
    border: 1px solid #aaa;
    border-radius: 30px;
    cursor: pointer;
}