* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #e3fde7;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
}

#root {
    width: 100%;
    display: block;
}